{% extends "djangoapp/base.html" %}
<!-- 
    EXTENDS BASE TEMPLATE BLOCKS:
    - title
    - content
-->

{% load static %}

<!-- Update Title -->
{% block title %}About Best Cars{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="mt-4">
    <h1 class="display-3 text-center">Welcome to Best Cars Dealership</h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Home to the best cars in North America.</p>
    </blockquote>
    <p class="lead">We sell domestic and imported cars at reasonable prices.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Aliquam ultrices sagittis orci a scelerisque. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. 
        Arcu vitae elementum curabitur vitae. Aliquam id diam maecenas ultricies mi eget. </p>
    <p>
        Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. 
        Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. 
        Tristique senectus et netus et malesuada fames ac. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. 
        A erat nam at lectus urna. In fermentum posuere urna nec. Mus mauris vitae ultricies leo integer. 
        Phasellus vestibulum lorem sed risus ultricies tristique nulla. Malesuada bibendum arcu vitae elementum.
        <i>Arcu odio ut sem nulla pharetra diam!</i>
    </p>
</div>
{% endblock content %}

<!--
    home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
-->