{% extends "djangoapp/base.html" %}
<!-- 
    EXTENDS BASE TEMPLATE BLOCKS:
    - title
    - imports
    - content
    - scripts
-->

{% load static %}

<!-- UPDATE TITLE-->
{% block title %}Share your review{% endblock %}

<!-- ADDTIONAL IMPORTS-->
{% block imports %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
{% endblock imports %}

<!-- PAGE CONTENT-->
{% block content %}
    <!-- Status Info if it's in the context -->
    {% if status %}
    <div class="alert alert-danger">
        <i>{{status}}</i>
    </div>
    {% endif %}
    <!--Review form -->
    <div class="mt-4">
        <h1 class="display-4 text-center">Review {{dealer_sn}} Car Dealership</h1>
        <hr>
        {% if user.is_authenticated %}
        <form action="{% url 'djangoapp:add_review' dealer_id dealer_sn %}" method="POST">
            <div class="form-header text-center">
                <!--show user's first + last name here? to show who's submitting-->
                <p class="lead"><b>Posting review as:</b> {{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="form-inputs">
                <div class="form-group">
                    <!--Review Content-->
                    <label for="review">Review Content</label>
                    <textarea class="form-control" placeholder="Share your thoughts on {{dealer_sn}}." name="review" id="review" rows="2" required></textarea>
                </div>
                <div class="form-check">
                    <!--Purchase check toggle-->
                    <input class="form-check-input" type="checkbox" value="" name="purchase" id="purchase">
                    <label for="purchase" class="form-check-label">Have you purchased this car from {{dealer_sn}} Car Dealership?</label>
                </div>
                <div class="alert alert-light text-center font-italic">
                    Please complete the following if you have purchased a car from this dealer
                </div>
                <div class="form-group row justify-content-center">
                    <!--Purchase Date-->
                    <label for="purchase_date" class="col-sm-2 text-right">Purchase Date</label>
                    <div class="col-sm-3">
                        <input class="date-own form-control" type="date" placeholder="" name="purchase_date" id="purchase_date">
                    </div>
                    <!--Car Make Dropdown-->
                    <label for="car" class="col-sm-2 text-right">Make - Model - Year</label>
                    <select class="form-control col-sm-3" name="car" id="car" required>
                        {% for car in cars %}
                        <option>{{car.name}} - {{car.car_make.name}} - {{car.car_year|date:"Y"}}</option> 
                        <!-- car_make.name doesn't appear because of M2M relationship, requires more filtering... -->
                        {% endfor %}
                    </select>
                </div>
                <!--Car Model-
                <label for="car_model">Car Model</label>
                <input type="text" placeholder="" name="car_model">
                <--Car Year
                <label for="car_year">Car Year</label>
                <input type="text" placeholder="" name="car_year">
                -->
                <div>
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
        {% else %}
            <div class="alert alert-warning">
                Please sign in to post a review.
            </div>
        {% endif %}
    </div>
{% endblock content %}

<!-- ADDITIONAL JAVASCRIPT -->
{% block scripts %}
<script type="text/javascript">
    $('.date-own').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>
{% endblock scripts %}