{% extends "djangoapp/base.html" %}
<!-- 
    EXTENDS BASE TEMPLATE BLOCKS:
    - title
    - content
-->

{% load static %}

<!-- Update Title-->
{% block title%}Contact Best Cars Dealership{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="mt-4">
    <h2 class="display-4 text-center">Contact Best Cars Dealership</h2>
    <p class="lead text-center">Have a question about the site or would like to share a comment?</p>

    <!-- Contact Card-->
    <div class="card text-center">
        <div class="card-header">
            Feel free to send us any inquiries you have.
        </div>
        <div class="card-body">
            <h5 class="card-title">Customer Service</h5>
            <p class="card-text">1-800-555-1234</p>
            <h5 class="card-title">Mailbox</h5>
            <p class="card-text">Miscellaneous St.<br>#246 Unknown City, NA 00000</p>
        </div>
    </div>
</div>
{% endblock content %}