{% extends "djangoapp/base.html" %}
<!-- 
    EXTENDS BASE TEMPLATE BLOCKS:
    - imports
    - content
-->

<!-- KEEP TITLE - IMPORT SCRIPTS -->
{% block imports %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock imports %}

<!-- PAGE CONTENT -->
{% block content %}
    <!--Add a dealer table here -->
    <p>Dealer Table</p>
{% endblock content %}